body{
    user-select: none;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-left{
    display: flex;
    align-items: center;
    justify-content: left;
}

.content-center{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    max-height:200px;
}

.text-left{
    text-align:left
}

.text-center{
    text-align:center
}

.text-right{
    text-align:right
}

.text-size-small{
    font-size:0.8em !important;
}

.text-color-opstid{
    color:#348ceb !important;
}

.font-weight-bold{
    font-weight:bold !important;
}

.font-weight-normal{
    font-weight:normal !important;
}

ion-grid{
    max-width:750px;
}